.App {
  text-align: center;
  margin: 0;
  padding: 0; }

.App h1 {
  margin: 0;
  padding: 2rem; }

.CurrentBar {
  height: 70vh; }

.CurrentBar-temp {
  font-size: 10rem; }

.CurrentBar-time {
  font-size: 4rem; }
